---
import BaseLayout from "../layouts/BaseLayout.astro"
import Showcase from "../components/Showcase.astro"
import Articles from "../components/Articles.astro"

import { getAllPosts, getImageLink } from "../lib/posts"

const posts = await getAllPosts()
if (!posts) {
    return new Response(null, {
        status: 404,
        statusText: "Not found",
    })
}

function limitTextContent(text) {
    return text.substring(text, 500)
}
---

<BaseLayout homeCurrent="current">
    <Showcase />
    <section
        id="home-articles"
        class="home-articles py-2"
    >
        <div class="articles-background-container">
            <h2>Editor Picks</h2>
            <div class="articles-container">
                {
                    posts.map((post) => (
                        <Articles
                            title={post.title}
                            category={post.category}
                            text={limitTextContent(post.text)}
                            image={`/images/${post.image}`}
                            slug={post.slug}
                        />
                    ))
                }
            </div>
        </div>
    </section>
</BaseLayout>
